@import "assets/css/navbar.css";
@import "assets/css/landing.css";
@import "assets/css/blog.css";
@import "assets/css/work.css";
@import "assets/css/contact.css";
@import "assets/css/intro-animations.css";
/*@import "assets/fonts/Amiko/Amiko.css";*/

:root {
  --blue: #6066FF;
  --blue-alt: #90AFFF;
  --blue-outline: #787dff;
  --gradient-blue: linear-gradient(var(--blue-alt), var(--blue));
  --pink: #A660FF;
  --pink-alt: #C190FF;
  --gradient-pink: linear-gradient(var(--pink-alt), var(--pink));
  --purple: #8263FF;
  --purple-alt: #AAA0FF;
  --gradient-purple: linear-gradient(var(--purple-alt), var(--purple));
  --black: #111014;
  --black-50: rgba(17, 16, 20, 0.5);
  --black-alt: #17161a;
  --black-dark-alt: #1e1e21;
  --white: #DBD9DD;
  --white-25: rgba(219, 217, 221, 0.25);
  --white-alt: #F2F2F2;
  --grey: #797987;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Amiko", sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  max-width: 100vw;
}

body.light {
  --black: #F2F2F2;
  --black-50: rgba(219, 217, 221, 0.5);
  --black-alt: #DBD9DD;
  --black-dark-alt: #cbcaca;
  --white: #111014;
  --white-25: rgba(17, 16, 20, 0.25);
  --white-alt: #17161a;
  --white-alt-lighter: #2a282f;
  --grey: #797987;
}

body.light .contact button {
  color: var(--black);
}

body.light .white-path {
  fill: var(--white-alt-lighter) !important;
}

.light {
  color: var(--white);
}

.page-title {
  padding-top: 15vh;
  padding-left: 3em;
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 1em;
}

.page-title.no-pd {
  padding: 0 0 0 3em;
  margin: 0;
}

.page-title p {
  font-family: ui-monospace, monospace, sans-serif;
  font-weight: normal;
  margin-top: 0;
}

.emoji {
  font-family: "Emoji", sans-serif !important;
}

a {
  color: var(--blue);
  text-decoration: 2px var(--blue) underline;
}

b {
  font-weight: bold;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.col.half {
  width: 50%;
}

.tags {
  padding-top: .1em;
  padding-bottom: .5em;
  display: inline-flex;
  gap: 10px;
}

.tags span {
  background-color: var(--grey);
  border-radius: 3px;
  color: var(--black);
  font-size: .8em;
  padding: .2em;
}

.tags span:hover {
  background-color: var(--white-25);
  cursor: pointer;
}

.drawer {
  padding: 1em;
  border: .55px var(--black-dark-alt) solid;
  background-color: var(--black-alt);
  border-radius: 12px;
  font-family: ui-monospace, monospace, sans-serif;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.drawer.divided, .drawer.has-cover-image {
  padding: 0 0 1em;
}

.drawer.has-cover-image .title {
  padding-left: .5em;
  padding-right: .5em;
}

.drawer.has-cover-image p {
  padding-left: .8em;
  padding-right: .8em;
}

.drawer.has-cover-image img {
  width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom: .55px solid var(--black-dark-alt);
  margin-bottom: .5em;
}

.drawer.divided header {
  padding: 1em 1em .8em;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-bottom: 1em;
}

.drawer.divided .pd {
  padding-left: 1em;
  padding-right: 1em;
}

.drawer.divided .mg {
  margin-left: 1em;
  margin-right: 1em;
}

.drawer.pd {
  padding: 1.2em;
}

.drawer .title {
  font-family: "Amiko", sans-serif;
  margin: 0;
  font-size: 1.6em;
  color: var(--white-alt);
}

.drawer .title a {
  color: var(--grey);
}

.drawer p, .drawer label {
  margin: 0 !important;
  color: var(--grey);
  font-weight: 100;
  font-size: 1.1em;
}

.drawer.media {
  padding: 0;
}

.drawer.media img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drawer header {
  display: flex;
  justify-content: space-between;
}

.drawer header.light {
  background-color: var(--black-alt);
  border-bottom: .55px var(--black-dark-alt) solid;
}

.drawer button.mobile {
  display: none;
}

.drawer header img {
  width: 1.5em;
  height: 1.5em;
}

.socials {
  margin-top: 1em;
  display: flex;
  gap: 1em;
}

.socials a:hover {
  color: var(--blue-alt);
}

.socials a.gh {
  color: #ffff;
}

.socials a.gh:hover {
  color: var(--grey);
}

.socials a.gl {
  color: #e24329;
}

.socials a.gl:hover {
  color: #fc6d26;
}

.theme-switcher {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 2em;
  bottom: 2em;
  height: 3.5em;
  width: 3.5em;
  border: .55px solid var(--black-dark-alt);
  background-color: var(--black-alt);
  border-radius: 50%;
  color: var(--white-alt-lighter);
}

.theme-switcher svg {
  width: 2em;
  height: 2em;
}

@media (max-width: 1024px) {
  .col.half {
    width: 100%;
  }

  .drawer .title {
    font-size: 1.3em;
  }

  .drawer p {
    font-size: 1em;
  }

  .drawer header button {
    display: none;
  }

  .drawer button.mobile {
    display: block;
    padding-top: .5em;
    padding-bottom: .5em;
  }

  .page-title, .page-title.no-pd {
    padding-left: .8em;
    font-size: 2em;
    margin-bottom: 0;
  }

  .page-title.less {
    padding-left: .4em;
  }

  .page-title.less.no-pd {
    padding-left: .6em;
  }

  .theme-switcher {
    right: 1em;
    bottom: 1em;
    height: 3em;
    width: 3em;
  }

  .theme-switcher svg {
    width: 1.5em;
    height: 1.5em;
  }
}
