.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  justify-items: center;
  margin: auto;
  width: 80%;
  gap: 1.5em;
}

.articles .drawer {
  height: 100%;
}

.articles a {
  text-decoration: none !important;
}

pre {
  padding: 1em .8em;
  border-radius: 5px;
  background-color: var(--black-alt);
  overflow-x: scroll;
}

pre code {
  font-family: ui-monospace, monospace, sans-serif;
}

.articles .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: .25em;
  height: 2.5em;
}

.articles .content p {
  color: var(--grey);
}

.articles .content .description {
  max-width: 70%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 1100px) {
  .articles {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    width: 95%;
  }
}

@media (max-width: 750px) {
  .articles {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    padding: 1em;
  }
}

.tag {
  padding: .3em;
  border-radius: 6px;
  margin: .5em;
  font-weight: bold;
  background-color: var(--pink);
}

.reading {
  padding-top: 10vh;
  overflow-y: scroll;
  margin-bottom: 5vh;
}

.reading .highlight__panel.js-actions-panel {
  display: none;
}

.reading .article {
  margin: auto;
  width: 90%;
  max-width: 800px;
}

.reading .article header img {
  width: 100%;
}

.reading .article header h2 {
  font-size: 3em;
}

.reading .article .subtitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8em;
}

.reading .content {
  font-family: sans-serif;
}

.reading .content hr {
  width: 85%;
  margin: 5em auto 5em;
  background-color: var(--black-dark-alt);
}

.reading .content img {
  max-width: 950px;
  width: 100%;
  object-fit: cover;
  transition: .2s ease-in-out;
  margin-left: 50%;
  transform: translate(-50%);
}

.reading .content blockquote {
  border-left: 3px solid var(--black-dark-alt);
  background-color: var(--black-alt);
  padding-left: 1em;
  padding-top: .25em;
  padding-bottom: .25em;
  margin: 0;
}

.reading .content p {
  font-weight: normal;
  font-size: 1.1em;
}

.reading .content b, .reading .content strong {
  font-weight: bold;
}

.reading .content h1, .reading .content h2, .reading .content h3 {
  margin-top: 2em;
  margin-bottom: 1em;
  font-family: "Amiko", sans-serif;
}

@media (max-width: 1100px) {
  .reading .article {
    max-width: 100%;
    width: 95%;
    padding-left: 1em;
    padding-right: 1em;
  }

  .reading {
    padding-top: 7em;
  }
}
