.landing {
  padding-top: 10vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 5em);
  margin: 0;
  width: 100%;
}

.landing .top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.landing h1 {
  font-size: 3em;
  color: var(--white-alt);
}

.landing .content > h1 {
  margin-bottom: 0;
}

.landing .content > h1 + h1 {
  margin-top: 0;
}

.landing p {
  font-size: 2em;
  color: var(--grey);
  font-weight: normal;
}

.landing .hand {
  transition: 1s ease-in-out;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: .2em;
}

.landing .hand .waving {
  transition: 1s ease-in-out;
  transform: rotate(45deg);
  animation: wavingHand 2.1s .6s ease-in-out infinite;
  position: absolute;
}

@keyframes wavingHand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(16deg);
  }
  20% {
    transform: rotate(-6deg);
  }
  30% {
    transform: rotate(16deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(16deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.landing .image {
  position: absolute;
  transform: translate(440%, 35%);
}

.landing .image img {
  height: 6em;
  border-radius: 11px;
  transition: 5s ease-in-out;
  animation: changingPhoto 10s ease-in-out infinite;
}

@keyframes changingPhoto {
  0% {
    content: url("assets/images/profil-camarm.png");
    transform: rotate(0deg);
  }
  40% {
    content: url("assets/images/profil-camarm.png");
    transform: rotate(0deg);
  }
  50% {
    content: url("assets/images/profil-armand.png");
    transform: rotate(-360deg);
  }
  90% {
    content: url("assets/images/profil-armand.png");
    transform: rotate(-360deg);
  }
  100% {
    content: url("assets/images/profil-camarm.png");
    transform: rotate(-720deg);
  }
}

.landing .name {
  display: inline-flex;
  flex-direction: column;
  height: 1em;
  overflow: hidden;
}

.landing .name span {
  animation: 10s changingName ease-in-out infinite;
  line-height: 1;
}

@keyframes changingName {
  40% {
    transform: translate(0, 0%);
  }
  50% {
    transform: translate(0, -1em);
  }
  90% {
    transform: translate(0, -1em);
  }
  100% {
    transform: translate(0, -2em);
  }
}

.scroll {
  width: max-content;
  margin: 0 auto;
  transform: translate(-100%, 100%);
  position: relative;
}

.arrow-container {
  width: 1px;
  height: 44px;
  position: relative;
  margin-bottom: 100px;

}
.arrow {
  width: 2px;
  height: 0px;
  background-color: var(--white);
  top: 0;
  bottom: initial;
  animation: line-animation 2.5s ease-in-out 0s infinite normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.arrow::before {
  content: ' ';
  width: 16px;
  height: 16px;
  border-right: 3px solid var(--white);
  border-bottom: 3px solid var(--white);
  transform: rotate(45deg);
  display: block;
  position: absolute;
  bottom: 0;
  animation: arrow-animation 2.5s ease-in-out 0s infinite normal;
}
@keyframes line-animation {
  0% {height: 0px; top: 0px; opacity: 0;}
  50% {height: 44px; top: 0px; opacity: 1;}
  100% {height: 0px; top: 44px; opacity: 0;}
}

@keyframes arrow-animation {
  0% {opacity: 0}
  50% {opacity: 1}
  100% {opacity: 0}
}

svg .color, svg.blue .color {
  stroke: var(--blue);
}

svg.pink .color {
  stroke: var(--pink);
}

svg.purple .color {
  stroke: var(--purple);
}

#to-top {
  transition: .5s ease-in-out;
  padding: .2em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: var(--blue);
  box-shadow: 0 0 15px var(--blue);
  border: 0;
  outline: 0;
  cursor: pointer;
  color: var(--black);
}

#to-top:hover {
  scale: 1.1;
  box-shadow: 0 0 30px var(--blue);
}

.about .link {
  text-align: center;
  position: relative;
  width: 80%;
  margin: auto;
  display: none;
}

.about {
  width: 100vw;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 100vh;
  overflow-y: scroll;
  margin: auto;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.about::-webkit-scrollbar {
  display: none;
}

.about article {
  scroll-snap-align: start;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 5em);
  padding-top: 10em;
}

.about article.first .media {
  border: none;
  background: none;
}

.about article .content, .about article .media {
  width: 35%;
  height: 25em;
}

.about article .media {
  overflow: hidden;
  max-height: 30em;
  max-width: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about article .media, i, .hand .waving {
  font-family: "Emoji", sans-serif !important;
}

.about article .media i {
  font-size: 20em;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about article .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about article .content h2 {
  font-size: 2.5em;
  color: var(--white-alt);
  font-weight: bold;
  margin-bottom: 0;
}

.about article .content h2:before {
  width: 0;
  display: block;
  content: "";
  height: .08em;
  position: relative;
  transform: translate(0, 1.35em);
  background-color: var(--white);
  opacity: 0.8;
  transition: .3s ease-in-out;
}

.about article .content h2:after {
  width: 0;
  display: block;
  content: "";
  height: .15em;
  position: relative;
  background-color: var(--black);
  opacity: 1;
  transition: .3s ease-in-out;
  transform: translate(0, -.15em);
  z-index: 20 ;
}

.about article.active .content h2:before {
  width: 100%;
  animation: slidingUnderline 2s;
}

@keyframes slidingUnderline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.about article.active .content h2:after {
  width: 100%;
  animation: slidingUnderlineBlack 1s 1s;
}

@keyframes slidingUnderlineBlack {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.about article .content p {
  margin-top: .2em;
  font-size: 1.5em;
  text-align: justify;
  font-weight: 100;
  color: var(--grey);
}

.about article.active .content p {
  animation: 1.5s slide .1s;
}


@keyframes slide {
  from {
    transform: translate(20%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .about {
    width: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .about article {
    flex-direction: column;
  }

  .about article .content {
    order: 0;
  }

  .about article .media {
    order: 1;
    overflow: visible;
    margin-top: 1em;
  }

  .about article .content, .about article .media {
    width: 100%;
  }
}

@media (max-width: 1250px) {
  .about article .content, .about article .media {
    width: 50%;
    max-width: max-content;
  }
}
